.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  border-bottom: 1px solid #eee;
}

.banner {
  height: calc(100vh - 12.6rem);

  opacity: 0.85;
  filter: blur(0.2px);
  width: 100%;

  overflow: hidden;
  transition: opacity 0.5s;
  z-index: 1;
}

.banner:hover {
  opacity: 1;
}

.textContainer {
  font-size: 2rem;
  background-color: #d6ac726c;
  /* height: 100%; */
  /* padding: 2rem 22.8rem; */
  color: #3e4161;
  margin: auto 0;
  text-align: center;
}

.textContainer h1 {
  font-weight: 100;
  transition: all 2s;
}

.textContainer h1:hover {
  transform: rotateX(-360deg);
  cursor: pointer;
}

.textContainer p {
  /* background-color: #3e4161; */
  border-right: 1.5px solid #3e4161;
  border-left: 1.5px solid #3e4161;
  width: 50%;
  margin: 0 auto;
  /* color: rgb(220, 217, 217); */
  height: 100%;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 75em) {
  .container {
    position: relative;
    z-index: 1;
  }

  .textContainer {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    background-color: #d6ac72be;
  }
}
