.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  padding-top: 0;

  border-bottom: 1px solid #eee;
}

.logo {
  padding: 0 1rem;
  margin-top: 2rem;
}

.listContainer {
  padding: 2.6rem;
  width: 50%;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;

  font-size: 1.3rem;
  font-weight: bold;
}

.list li {
  padding: 2.3rem;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
}

.list li a {
  text-decoration: none;
  color: #979cbb;
}

.list li::after {
  content: "";
  display: table;
  position: absolute;
  left: 1.8rem;
  bottom: 0;
  height: 2px;
  width: 70%;
  border-bottom: 2px solid #616697;
}
.list li:hover {
  transform: translateY(-0.5rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media only screen and (max-width: 75em) {
  .list {
    font-size: 1.2rem;
    margin-left: -5rem;
  }

  .list li {
    padding: 1.5rem 0;
    padding-bottom: 7px;
    letter-spacing: 0.5px;
  }

  .list li::after {
    left: 0;
    width: 100%;
  }
}
